@{
    Layout = null;
    var video = ViewBag.VideoPath;
    // var subs = ViewBag.SubtitlePath;
}

<!DOCTYPE html>
<html>
<head>
    <title>Watch Episode</title>
    <link href="https://vjs.zencdn.net/8.5.0/video-js.css" rel="stylesheet" />
    <script src="https://vjs.zencdn.net/8.5.0/video.min.js"></script>
</head>
<body>
    <video id="animePlayer"
           class="video-js vjs-default-skin"
           controls
           autoplay
           preload="auto"
           width="960"
           height="540"
           data-setup='{}'>
        @* <source src="@video" type="video/x-matroska" /> *@
        <source src="@video" type="video/mp4" />
        

        @* @if (subs != null)
        {
            <track kind="subtitles" src="@subs" srclang="en" label="English" default />
        } *@
    </video>
</body>
</html>